@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

.cover-image {
    position: relative;
    background: #000 url("jumbotron-bg.png") center center;
    width: 2000;
    height: 100;
    background-size: cover;
    overflow: hidden;
}

#introPage {
	text-align: center;
}

#introCont {
	margin: 10px;
}

.cover-text {
	color: white;
	text-align: center;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(http://www.f-covers.com/cover/street-art-panda-holding-guns-facebook-cover-timeline-banner-for-fb.jpg);
  background-size: cover;
  height: 40vh;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
} 

#container {
  height: 300px;
  /*position: relative;*/
  width: 33%
}
#image {
  position: absolute;
  left: 0;
  top: 0;
  size: cover;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}
